:root {
    --primary-font: 'Jura', sans-serif;
    --secondary-font: 'Bungee Hairline', cursive;
    --std-font-weight: 600;
    --std-font-size: 1rem;
    --lrg-font-size: 3rem;
    --light-color: rgb(218, 215, 203);
    --dark-color: rgb(131, 129, 123);
    --transparent--color: rgba(218, 215, 203, 0.3);
    --round-corners: 20px;
}

* {
    font-family: var(--primary-font);
    font-weight: var(--std-font-weight);
    font-size: var(--std-font-size);
}

body {
    margin: 0;
    padding: 0;
    background: url("../images/david-van-dijk-3LTht2nxd34-unsplash.jpg");
    background-size: cover;
}

.container {
    height: 100vh;
    width: 95vw;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10% 1fr 10%;
    gap: 35px;
}

h1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: var(--lrg-font-size);
}

.input-container,
.form-input,
#new-book {
    display: flex;
}

.input-container,
.form-input {
    flex-direction: column;
}

.input-container,
#new-book {
    align-items: center;
}

.input-container {
    grid-area: 2 / 1;
}

form {
    width: 95%;
    padding-left: 10%;
}

form > ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

.form-input {
    margin: 5px;
}

input,
select,
#submit-entry {
    width: clamp(150px, 90%, 400px);
    box-sizing: border-box;
}

#submit-entry {
    margin-top: 5px;
    padding: 5px;
    background: rgba(241, 240, 236, 0.5);
    border: 2px solid var(--dark-color);
    border-radius: var(--round-corners);
}

#new-book {
    height: 60px;
    width: 150px;
    background: none;
    border: none;
    border-radius: var(--round-corners);
    gap: 10px;
}

#new-book img {
    height: 50%;
    width: auto;
}

.book-cards {
    grid-area: 2 / 2;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.card {
    padding: 20px;
    min-width: min-content;
    background: var(--transparent--color);
    border: 5px double var(--light-color);
    border-radius: 20px;
    
    display: grid;
    grid-template-areas:
        "text close"
        "text toggle";
    justify-content: space-between;
    align-items: baseline;
}

.info-container {
    grid-area: text;
}

.delete-btn,
.toggle-read {
    height: 30px;
    width: 30px;
    background-size: cover;
    border: none;
}

.delete-btn {
    background: url("../images/close.svg");
    grid-area: close;
}

.toggle-read {
    background: url("../images/checkbox-marked.svg");
    grid-area: toggle;
    align-self: flex-end;
}

.not-read {
    background: url("../images/checkbox-marked-outline.svg");
}

.hidden {
    visibility: hidden;
}
