:root {
    --primary-font: 'Jura', sans-serif;
    --secondary-font: 'Bungee Hairline', cursive;
    --bold: 600;
    --small: 1rem;
    --gap: 5px;
    --normal-font: 1rem;
    --medium-font: 2rem;
    --large-font: 3rem;
    --light-color: rgb(155,119,93);
    --dark-color: rgb(49,43,33);
    --outline-color: rgb(137,78,29);
    --bg-color: rgb(225,210,184);
    --svg-filter: invert(12%) sepia(18%) saturate(797%) hue-rotate(359deg) brightness(102%) contrast(88%);
}

* {
    font-family: var(--primary-font);
    font-weight: var(--bold);
    font-size: var(--normal-font);
}

/* Styles for overall layout */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

.container {
    display: grid;
    grid-template-rows: 0.5fr 0.3fr 5fr 0.3fr;

    background: var(--bg-color);
    height: 100vh;
    width: 100vw;
}

header {
    grid-row: 1;
}

.input-container {
    grid-row: 2;
}

.cards-container {
    grid-row: 3;
}

footer {
    grid-row: 4;
}

/* Styles for header */
header {
    background: var(--dark-color);
    border-bottom: 5px solid var(--outline-color);
}

h1 {
    font-size: var(--medium-font);
    color: var(--bg-color);
    text-align: center;
}

/* Styles for new book sidebar */
.input-container {
    background: var(--light-color);
}

#new-book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);

    background: none;
    border: none;
    padding: var(--small);
    width: 100%;
}

#new-book:hover {
    cursor: pointer;
}

#new-book > img {
    height: 30px;
    width: 30px;
}

#new-book > span {
    font-size: calc(var(--normal-font) + 3px);
}

/* Styles for form to add new entry */
form > ul {
    list-style: none;
    padding: var(--small);
    margin-top: - var(--small);
    padding-top: - var(--small);
}

.form-input {
    display: flex;
    flex-direction: column;
    padding: var(--gap) 0;
}

#submit-entry {
    margin-top: var(--gap);
}

/* Styles for book entries */
.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--small);
    padding: var(--small);
}

.card {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.5fr 4fr;
    align-items: end;

    border: 3px solid var(--light-color);
    padding: var(--small);
}

.info-container {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.delete-btn,
.toggle-read,
.not-read {
    height: 30px;
    background-position: 50%;
    border: none;
    filter: var(--svg-filter);
}

.delete-btn {
    grid-column: 2;
    grid-row: 1;

    height: 30px;
    background: url("../images/close.svg") no-repeat;
}

.toggle-read {
    grid-column: 2;
    grid-row: 2;

    background: url("../images/checkbox-marked.svg") no-repeat;
    align-self: end;
}

.not-read {
    background: url("../images/checkbox-marked-outline.svg") no-repeat;
}

.delete-btn:hover,
.toggle-read:hover,
.not-read:hover {
    cursor: pointer;
}

/* Styles for footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.github-icon {
    height: 30px;
    width: 30px;
}

.hidden {
    display: none;
}

/* Styles for small devices */
@media (min-width: 460px) {
    .container {
        grid-template-rows: 0.3fr 0.3fr 3fr 0.3fr;
    }
}

/* Styles for tablets */
@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 0.4fr 4fr 0.4fr;
    }

    header {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .input-container {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .cards-container {
        grid-column: 2;
        grid-row: 2;
        
        padding: var(--small);
    }

    footer {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .book-cards {
        gap: calc(var(--small) * 1.5);
    }
}