body {
    margin: 0;
    padding: 0;
    background-image: url("../images/yj-lee-xFcoLGuhdGs-unsplash.jpg");
    background-size: cover;
}

.container {
    height: 100vh;
    width: 95vw;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10% 1fr 10%;
    column-gap: 15px;
}

h1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.input-container,
.form-input,
#new-book,
.card {
    display: flex;
}

.input-container,
.form-input {
    flex-direction: column;
}

.input-container,
#new-book {
    align-items: center;
}

.input-container {
    grid-area: 2 / 1;
}

form {
    width: 95%;
    padding-left: 10%;
}

form > ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

.form-input {
    margin: 5px;
}

input,
select,
#submit-entry {
    width: clamp(150px, 90%, 400px);
    box-sizing: border-box;
}

#submit-entry {
    margin-top: 5px;
}

#new-book {
    height: 60px;
    width: 150px;
    background: none;
    border: none;
    border-radius: 20px;
    gap: 10px;
}

#new-book img {
    height: 50%;
    width: auto;
}

.book-cards {
    grid-area: 2 / 2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.card {
    padding: 20px;
    min-width: min-content;
    background: rgba(159, 182, 205, 0.9);
    border-radius: 20px;

    justify-content: space-between;
    align-items: baseline;
}

.delete-btn {
    background: none;
    border: none;
    height: 30px;
    width: 30px;
    order: 2;
}

.toggle-read {
    background: url("../images/checkbox-marked.svg");
    background-size: cover;
    border: none;
    height: 40px;
    width: 40px;
}

.not-read {
    background: url("../images/checkbox-marked-outline.svg");
}

.hidden {
    visibility: hidden;
}
